:root {
    --body-margin: 8px;
}

/* form : flex-direction:column*/
body {
    margin: 0;
    /*width : 100vw;
    height : 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2*var(--body-margin))
}

form {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}

.green {
    background-color: green;
}

/*
label {
    display: block;
}

input {
    display: block;
}*/

.toast0 {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.toast1 {
    position: fixed;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.toast1.show {
    opacity: 1;
}
.toast0.show {
    opacity: 1;
}